.landingPage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

/* homepage */
.homePage {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  position: relative;
}

.homePageContainer {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.homePageContainer .homePageContentContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 40px; */
  color: white;
  z-index: 2;
}

.homePageContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  gap: 40px;
}

.homePageContainer h1 {
  font-size: 40px;
  z-index: 2;
  color: white;
}

.homePageContentContainer p {
  font-size: 18px;
  color: #ffffff88;
  line-height: 32px;
}

.homePageContentContainer button {
  margin-top: auto;
}

.heroContent {
  flex: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.heroContentImage {
  width: 70%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.heroContentImage img {
  width: 100%;
  /* height: 400px; */
}

/* cardList */

.cardList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 50px 0; */
  width: 80%;
  margin: 0 auto;
  gap: 40px;
  flex-wrap: wrap;
}

.card {
  background: #f3f3f3;
  box-shadow: 5px 5px 3px 1px #00000079;
  padding: 20px;
  border-radius: 10px;
  border: none;
  flex: 1;
  min-height: 250px;
}

.cardContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.cardTitle {
  font-size: 25px;
  font-weight: bold;
}

.cardDesc {
  line-height: 25px;
}

/* about us */
.aboutUs {
  display: flex;
  justify-content: space-between;
  min-height: 70vh;
  flex-wrap: wrap;
  padding: 30px;
  gap: 30px;
}

.imageGridContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* align-items: center; */
  justify-content: center;
}

.imageGridContainer img {
  width: 100%;
}

.aboutUs .row1,
.aboutUs .row2 {
  flex: 1;
  display: flex;
  gap: 30px;
}

.row1 {
  justify-content: center;
  align-items: flex-end;
}

.row2 {
  align-items: flex-start;
}

.aboutUs .small {
  width: 60%;
  min-width: 150px;
}

.aboutUs .medium {
  width: 90%;
  min-width: 200px;
}
.aboutUs .large {
  width: 100%;
  min-width: 250px;
}

.aboutUsContentContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.aboutUsTitleContainer {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.aboutUsTitleContainer hr {
  border-color: #f70303;
  flex: 1;
}

.aboutUsTitle {
  position: relative;
  font-size: 25px;
  letter-spacing: 3px;
}

.aboutUsContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.aboutUsSubtitle {
  font-size: 30px;
}

.aboutUsContent p {
  font-size: 20px;
  line-height: 30px;
}

/* testimonyList */

.testimonyList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.testimony {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.testimonialSubtitle {
  font-size: 35px;
}
.testimonyHeaderContainer {
  width: 70%;
}
.testimonyDesc {
  font-size: 20px;
  line-height: 25px;
  color: #333;
}

.testimonyProfile img {
  background-color: #333;
  border-radius: 50%;
  padding: 5px;
  object-fit: cover;
}

@media screen and (max-width: 800px) {
  .heroContent {
    display: none;
  }

  .aboutUs {
    flex-direction: column;
  }

  .testimonyHeaderContainer {
    width: 100%;
  }
}
@media screen and (max-width: 510px) {
  .aboutUs .small,
  .aboutUs .medium,
  .aboutUs .large {
    min-width: 0px;
  }

  .homePage {
    height: 80vh;
  }

  .homePageContent h1 {
    font-size: 30px;
  }
  .homePageContent p {
    font-size: 13px;
    line-height: 25px;
  }

  .aboutUsTitle {
    font-size: 18px;
  }
  .aboutUsSubtitle,
  .testimonialSubtitle {
    font-size: 20px;
  }

  .aboutUsContent p {
    font-size: 14px;
    line-height: 25px;
  }
  .cardList .card {
    box-shadow: 5px 5px 14px 1px #00000079;
  }
}
