.menuScreen {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-bottom: 30px;
}

.meal {
  position: relative;
  padding-bottom: 10px;
  cursor: pointer;
}
.activeMeal::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  border: solid 3px #f70303;
  border-radius: 10px;
}
.inActiveMeal::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  border: solid 3px #f7030373;
  border-radius: 10px;
}

.mealContainer {
  display: flex;
  align-items: center;
}

.mealTitle {
  font-size: 20px;
  font-weight: bold;
}

.menu,
.mealList {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.menuList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.menuListItem {
  width: 35%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.menuItemContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.topMenuItemContent {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.menuItemPrice {
  margin-left: auto;
}

.bottomMenuItemContent {
  font-size: 13px;
  /* line-height: 25px; */
}
