.menuScreen {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-bottom: 30px;
}

.meal {
  position: relative;
  padding-bottom: 10px;
  cursor: pointer;
}

.activeMeal::after,
.inActiveMeal::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px;
}

.activeMeal::after {
  border: solid 3px #f70303;
}
.inActiveMeal::after {
  border: solid 3px #f7030373;
}
.mealContainer {
  display: flex;
  align-items: center;
}

.mealImage {
  width: 100px;
}

.mealImage img {
  width: 100%;
}

.mealContent {
  /* flex: 1; */
}

.mealTitle {
  font-size: 20px;
  font-weight: bold;
}

.menu,
.mealList {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.menu {
  width: 90%;
  margin: 0 auto;
}

.menuScreen .mealList .mealListContainer {
  flex-wrap: nowrap;
  padding: 0 10px;
}

.menuList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 20px;
}

.menuListItem {
  /* width: 35%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  /* cursor: pointer; */
  border-radius: 10px;
  padding: 10px;
  transition: 0.3s ease-in-out;
  box-shadow: 0 0 7px 3px #0303033d;
  width: 250px;
}

.menuListItem img {
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.menuListItem:hover {
  transform: scale(1.05);
  /* background-color: red; */
}

.menuItemContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  align-items: center;
}

.topMenuItemContent {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-size: 14px;
}

.bottomMenuItemContent {
  font-size: 13px;
  /* line-height: 25px; */
}

.menuItemTitle,
.menuItemDesc {
  text-align: center;
  font-size: 0.6rem;
}

.menuItemTitle{
  font-weight: bold;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #00000079;
  z-index: 100;
}

.menu-modal {
  /* position: fixed; */
  z-index: 200;
  background: #ffffff;
  color: black;
  border-radius: 10px;
  padding: 10px;
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: auto;
  max-height: 80vh;
  width: 400px;
}

.menu-modal .toppings {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu-modal .toppings div label {
  margin-left: 10px;
}

.menu-modal .req {
  display: flex;
  /* align-items: center; */
  gap: 20px;
}

.menu-modal-size select {
  border: solid 1px #fff;
  border-radius: 10px;
  padding: 10px;
}

.menu-modal-size select:hover {
  border-color: #000000;
}

.menu-modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.menu-modal .quantity {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.menu-modal .quantity button {
  border: none;
  /* padding: 10px; */
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

.menu-modal .quantity p {
  width: 30px;
  text-align: center;
}

.add-to-cart-btn {
  background: #a83939;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px;
  transition: 0.3s ease-in-out;
  margin-top: auto;
}

.add-to-cart-btn:hover {
  background: #f70303;
}

.toppings-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.menu-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-modal-header svg {
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .menuListItem {
    flex: 1;
    max-width: unset;
  }
}

@media screen and (max-width: 510px) {
  .menu-modal h2 {
    font-size: 18px;
  }
  .menu-modal {
    width: 80%;
  }

  .menu-modal h3 {
    font-size: 16px;
  }

  .menu-modal label {
    font-size: 13px;
  }
  .meal {
    flex: 1;
  }

  .mealImage {
    width: 40px;
  }

  .activeMeal::after {
    border: solid 1px #f70303;
  }
  .inActiveMeal::after {
    border: solid 1px #f7030373;
  }

  .mealTitle {
    font-size: 14px;
  }

  .mealCategory {
    font-size: 13px;
  }

  .menuScreen .mealList .mealListContainer {
    width: 100%;
    justify-content: center;
    gap: 10px;
  }
}
