.payment {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 20px;
}

.payment h1 {
  padding: 0 30px;
}

.orderInfo {
  display: flex;
  padding: 0 30px;
  width: 90%;
  gap: 60px;
  /* justify-content: center; */
  /* margin: 0 auto; */
}

.orderFormat,
.orderList {
  /* width: 580px; */
  flex: 1;
}

.orderFormat,
.delivery {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.orderFormat .redButton {
  margin-top: 0;
}

.orderFormat .redButton:hover {
  background: #ff0000df;
}
.orderFormat .redButton:disabled {
  cursor: no-drop;
}

.delivery {
  gap: 20px;
}

.deliveryGroup {
  display: flex;
  gap: 10px;
  padding: 0 20px;
}

.infoGroup input {
  display: block;
  width: 100%;
  border-radius: 10px;
  border: solid 1px #000;
  padding: 15px;
}

.infoGroup label {
  display: block;
  margin: 10px 0 15px;
  font-size: 13px;
  color: #333;
}

.payWith {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.order {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.orderImage {
  min-width: 200px;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

.orderImage img {
  width: 100%;
}

.orderInfoContainer {
  display: flex;
  gap: 20px;
  align-items: center;
}

.orderInfoContent {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.orderInfoContent p {
  font-size: 13px;
}

.payment .paymentOrderDetails {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0 10px;
}

.payment-order-details-container {
  margin-bottom: 20px;
}

.payment .paymentOrderDetails > div,
.total {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  color: #333;
}

.total {
  margin-top: 10px;
}

@media screen and (max-width: 510px) {
  .orderInfo {
    flex-direction: column-reverse;
  }
}
