.pice {
  color: #e20000;
}

.adminSidebar {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  width: 250px;
  padding: 10px;
  gap: 30px;
  background-color: white;
}

.mobileAdminSidebar {
  display: none;
}
.adminSidebarContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* gap: 20px; */
}

.adminSidebarItem {
  color: #b1b1b1;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
}

.adminSidebar .active {
  font-weight: bold;
  background: #de4444;
  color: white;
}

@media screen and (max-width: 800px) {
  .hideSidebar {
    display: none;
  }
  .mobileAdminSidebar {
    display: flex;
  }
  .adminSidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;
    left: -300px;
    transition: 0.3s ease-in-out;
  }
  .showSidebar {
    left: 0;
  }
}
