.admin {
  display: flex;
  height: 100vh;
  position: relative;
}

.adminContent {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.adminPage {
  flex: 1;
  background-color: #f5f7fa;
  overflow-y: auto;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
