.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.statCardList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.statCard {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  min-width: 230px;
  padding: 20px;
  border-radius: 20px;
}

.statCardItem{
  align-items: center;
  gap: 5px;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  width: 30px;
  height: 30px;
}

.containerItemTitle {
  color: #a6b8d7;
  font-size: 16px;
}

.containerItemTotal {
  font-size: 30px;
}

.ordersComponent {
  display: flex;
  gap: 20px;
}

.ordersComponent h2 {
  color: #333b69;
}

.latestOrdersContainer {
  flex: 1;
}

.orderDetailsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transition: 0.2s ease-in-out;
}

.latestOrdersList {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.latestOrderInfo:hover {
  transform: scale(1.05);
}

.latestOrderInfo {
  cursor: pointer;
  transition: 0.3s ease-in-out;
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.orderId {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 11px;
}

.order-email {
  font-size: 13px;
  margin: 10px 0;
}

.total-price {
  margin: 10px 0 0 auto;
  font-size: 16px;
  font-weight: bold;
}

.time {
  color: #94aacf;
  font-size: 13px;
}

/* .latestOrder select {
  width: 100%;
  padding: 10px;
  border: none;
  background: #f4f4f4;
  outline: none;
  border-radius: 10px;
  margin-top: auto;
} */

.orderId button {
  border: none;
  background: none;
}

.orderStatus {
  padding: 5px;
  border-radius: 10px;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  width: fit-content;
}

.orderDetails {
  background-color: white;
  width: 500px;
  border-radius: 20px;
  padding: 20px;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 80vh;
  z-index: 200;
  overflow-y: auto;
}

.mode,
.location {
  gap: 5px;
  align-items: center;
}

.details,
.order-item {
  gap: 10px;
}

.orderDetails .order {
  gap: 20px;
}

.food-info {
  gap: 5px;
}

.orderDetailList {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 10px;
}

.phoneNumber {
  display: flex;
  gap: 10px;
  align-items: center;
  color: black;
}

.orderDetails section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.orderDetails section h3 {
  margin-left: auto;
}

.completeBtn {
  color: white;
  background: #de4444;
  border: solid 1px #de4444;
  border-radius: 10px;
  font-weight: bold;
  padding: 10px;
  min-width: 150px;
}

.closeButton {
  cursor: pointer;
}

@media screen and (max-width: 510px) {
  .orderDetails {
    width: 80%;
  }
}
